.container{
        background-color: #fff;
        display: flex;
        height: 737px;
        align-content: flex-start;
        justify-content: flex-start;
        box-shadow: 10px 10px  black inset;
}
.item{
        background-color: rgb(187, 183, 183);
        border: 3px solid black;
        margin: 20px ;
        width: 100px;
        height: 100px;
}
.between-item{
        width: 100px;
        height: 100px;
        position: absolute;
        margin-top: 180px;
        left: 100px;
        bottom: 580px;
        background-color: rgb(237, 107, 194);
        border: 3px solid black;
        box-shadow: 10px 10px gray;

}